<footer class="main-footer">
    <div class="footer-divider">
        <div class="footer-content">
            <div class="content-wrapper">
                <ul class="product-list">
                    <li class="list-title"> <h3>PRODUTOS</h3> </li>
                    <li class="product-wrapper"> <a class="product" href="">Calçados</a> </li>
                    <li class="product-wrapper"> <a class="product" href="">Tênis</a> </li>
                    <li class="product-wrapper"> <a class="product" href=""> Roupas </a> </li>
                    <li class="product-wrapper"> <a class="product" href="">Acessórios</a> </li>
                    <li class="product-wrapper"> <a class="product" href=""> Chuteiras </a> </li>
                    <li class="product-wrapper"> <a class="product" href=""> Quebra-vento</a> </li>
                    <li class="product-wrapper"> <a class="product" href=""> Personalização</a> </li>
                    <br/>
                    <li class="product-wrapper"> <a class="product" href="">Novidades</a></li>
                    <li class="product-wrapper"> <a class="product" href="">Black Friday</a></li>
                    <li class="product-wrapper"> <a class="product" href="">Cyber Monday</a></li>
                    <li class="product-wrapper"> <a class="product" href="">Outlet</a></li>
                </ul>
                <ul> 
                    <li class="list-title"> <h3>ESPORTES</h3></li>
                    <li class="product-wrapper"> <a class="product" href=""> Federação </a></li>
                    <li class="product-wrapper"> <a class="product" href=""> Futebol</a></li>
                    <li class="product-wrapper"> <a class="product" href=""> Basquete</a></li>
                    <li class="product-wrapper"> <a class="product" href=""> Volei </a></li>
                    <li class="product-wrapper"> <a class="product" href=""> HandBall</a></li>
                    <li class="product-wrapper"> <a class="product" href=""> Natação </a></li>
                    <li class="product-wrapper"> <a class="product" href=""> Corrida </a></li>
                    <li class="list-title"> <h3>COLEÇÕES</h3></li>
                    <li class="product-wrapper"> <a class="product" href=""> Yeezy </a> </li>
                    <li class="product-wrapper"> <a class="product" href=""> Farm </a> </li>
                    <li class="product-wrapper"> <a class="product" href=""> Stan Smith </a> </li>
                    <li class="product-wrapper"> <a class="product" href=""> Superstar </a> </li>
                    <li class="product-wrapper"> <a class="product" href=""> Ultraboost </a>  </li>
                    <li class="product-wrapper"> <a class="product" href=""> adicolor </a> </li>
                    <li class="product-wrapper"> <a class="product" href="">  </a> </li>
                </ul>
                <ul> 
                    <li class="list-title"> <h3>SUPORTE</h3></li>
                    <li class="product-wrapper"> <a class="product bold"href=""> Podemos ajudar? </a> </li>
                    <li class="product-wrapper"> <a class="product"href=""> Atendimento ao cliente </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                    <li> <a href="">  </a> </li>
                </ul>
                <ul></ul>
                <ul></ul>
            </div>
            <div class="content-wrapper">
                <div class="footer-bottom">
                    <p class="product product-wrapper">Formas de Pagamento</p>
                    <p> <img src="../../assets/images/payment-methods.jpg" alt=""></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <div class="footer-links">
            <p class="footer-info">ShoeCompany do Brasil LTDA - CNPJ/MF nº 12.345.678/0001-23 – Inscrição Estadual  987.654.321.112</p>
            <address class="footer-info">Endereço: Rua dos Navegantes nº 300, Galpão 3, Bairro Jardim Mônica, Município de Curitiba - PR, CEP 01952-150</address>
            <p class="footer-info">Atendimento ao cliente: atendimentoa@shoecompany.com  / 0800 234 567 ou 11 3458 3700</p>
        </div>
    </div>
</footer>
