<header class="main-header">
    <div class="divider"></div>
    <div class="inner-header">
        <a routerLink="/home"><img class="main-logo" src="../../assets/images/house-simple-thin.png" alt="logo"/></a>
        <nav class="main-menu">
            <a class="nav-items" href="#"> HOMEM</a>
            <a class="nav-items" href="#"> MULHER</a>
            <a class="nav-items" href="#"> KIDS </a>
            <a class="secondary nav-items" href="#"> ESPORTES</a>
            <a class="secondary nav-items" href="#"> MARCAS </a>
            <a class="secondary nav-items" href="#"> COLEÇÕES </a>
        </nav> 
        <!-- esse NAV precisa ser um novo componente -->
        <div class="right-side-menu">
            <div class="glass-division">
                <input type="text" name="searchbar" id="searchbar" class="searchbar"placeholder="Procurar"/>
            </div>
            <a href="#"><img class="wish-list-icon" src="../../assets/images/heart-straight-thin.png" alt="wish-list"/></a>
            <a href="#"><img class="shopping-cart-icon" src="../../assets/images/shopping-cart-thin.png" alt="shopping-cart"></a>
        </div>
    </div>    
</header>