<header class="main-header">
    <div class="divider"></div>
    <div class="inner-header">
        <img class="main-logo"src="logo" alt="logo"/>
        <nav class="main-menu">
            <a class="nav-items" href="#"> HOMEM</a>
            <a class="nav-items" href="#"> MULHER</a>
            <a class="nav-items" href="#"> KIDS </a>
            <a class="secondary nav-items" href="#"> ESPORTES</a>
            <a class="secondary nav-items" href="#"> MARCAS </a>
            <a class="secondary nav-items" href="#"> COLEÇÕES </a>
        </nav> 
        <!-- esse NAV precisa ser um novo componente -->
        <div class="right-side-menu">
            <div class="glass-division">
                <input type="text" name="searchbar" id="searchbar" class="searchbar"placeholder="Procurar"/>
            </div>
            <a class="wish-list-icon" href="#"><img src="heart" alt="wish-list"/></a>
            <a class="shopping-cart-icon" href="#"><img src="cart" alt="shopping-cart"></a>
        </div>
    </div>    
</header>