<section>
    <main class="main-wrapper">
        <h2 class="shop-title"> Calçados </h2>
        <div class="list-wrapper">
            <div class="product-wrapper" *ngFor="let product of items">
                <img class="product-image"src="{{product.imageURL}}" alt="{{product.name}} image">
                <div class="product-description">
                    <h3 class="opaque">{{product.name}}</h3>
                    <p class="opaque"> R${{product.price}} </p>
                    <button class="cart-button"(click)="addToCart(product)"><img class="shoppingCart-icon" src="../../assets/images/shopping-cart-thin.png" alt="shopping-cart-icon"></button>            
                </div>
            </div>
        </div>
    </main>
</section>